//Gif Reveal ================================================
.winnerScreen-component {
  padding:10px;

  .winning-gif-holder {
    width: 100%;
  }

  .winning-gif {
      max-width: 100%;
      border-radius: 15px;
      max-height: 250px;
      display: block;
      margin: 0 auto;
      // border: 7px solid gold; //Change border to winner color
  }

  .true-that-text {
    max-width: 400px;
    width:85%;
  }

  .winner-name {
    padding:10px;
    font-size:30px;
    margin:0;
    letter-spacing: .5px;
  }
}

//Theme and Category Prompt ================================
#winner-pg-prompt{
  max-width: 400px;
  margin:10px auto;
}