.winnerScreen-component {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .winnerScreen-component .winning-gif-holder {
    width: 100%;
    padding: 5px 0; }
  .winnerScreen-component .winning-gif {
    max-width: 100%;
    border-radius: 15px;
    max-height: 250px;
    display: block;
    margin: 0 auto; }
  .winnerScreen-component .true-that-text {
    max-width: 400px;
    width: 90%; }
  .winnerScreen-component .winner-name {
    padding: 10px;
    font-size: 30px;
    margin: 0; }

#winner-pg-prompt {
  max-width: 400px;
  margin: 15px 0; }

#winner-pg-judge {
  display: none; }
