.winnerScreen-component {
  padding: 10px; }
  .winnerScreen-component .winning-gif-holder {
    max-width: 450px;
    width: 100%;
    background: #3d304e;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px; }
  .winnerScreen-component .winning-gif {
    max-width: 100%;
    border-radius: 15px;
    max-height: 250px;
    display: block;
    margin: 0 auto; }
  .winnerScreen-component .true-that-text {
    max-width: 400px;
    width: 85%; }
  .winnerScreen-component .winner-name {
    padding: 10px 10px 5px 10px;
    font-size: 30px;
    margin: 0;
    letter-spacing: .5px; }

#winner-pg-prompt {
  max-width: 400px;
  margin: 10px auto;
  background-color: #FF6161; }

#winner-pg-theme {
  color: #993a3a; }
