//Dependencies ===============================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;
$lightPurple: #5a5164;

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

%round-buttons{
  border-radius: 50%;
  height:80px;
  width:80px;
  margin:8px;
}

//Profile Page ====================================================================
.profile-pg-component {
  padding:10px 0;

  .setup-profile { //"Setup Profile" Header
    font-size:25px;
    padding-bottom: 10px;
  }

  #enter-name {
    margin:0;
  }
   
  //Join/Can't Join Button Page =======================================================
  .complete-profile-btn {
    padding:20px;
  }

  .join-btn{
    @include font;
    border-radius: 30px;
    font-size:25px;
    padding: 12px 25px;
    transition: .25s;
  }

  .join, .join:focus, .join:active {
    background-color: $green;
  }

  .join:hover{
    cursor: pointer;
    background: #3a9785;
    transform: scale(.99);
  }

  .cantJoin {
    background-color: $grey;
    color: grey !important;
  }

  //Color Buttons ==================================================================
  .setup-color-buttondiv{
    max-width: 300px;
    margin:0 auto;
    padding-bottom: 15px;

    .pick-a-color{ //Pick Color Text ===============================================
      padding:30px 0 15px 0;
      font-size:17px;
      overflow: hidden;
    }
  
    .pick-a-color:before, .pick-a-color:after {
      background-color:white;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 24%;
    }
     
    .pick-a-color:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    .pick-a-color:after {
      left: 0.5em;
      margin-right: -50%;
    }
    
    .color-btn{ //Choose Color Buttons ===============================================
      @extend %round-buttons;
    }

    .color-btn:hover{
      box-shadow: 0 0 2px 5px grey;
    }

    #selected{
      box-shadow: 0 0 1px 6px grey;
    }

    .yellow-prof{background-color:$yellow;} 
    .blue-prof{background-color:$blue;} 
    .red-prof{background-color:$red;} 
    .pink-prof{background-color:$pink;} 
    .green-prof{background-color:$green;} 
    .orange-prof{background-color:$orange;} 
    .purple-prof{background-color:$purple;} 
    .charcoal-prof{background-color:$charcoal;}
    .grey-prof{background-color:$grey;}
  }
}