//Main Logo ==============================================================
.logo {
    max-width: 700px;
    width: 100%;
    padding: 25px 25px 10px 25px;
}

//Mini Logo ==============================================================
.mini-logo-holder {
    padding:120px 0 30px 0;
  }
  
.mini-logo {
    width: 130px;
    height: 130px;
    margin:0 auto;
}