//Dependencies ======================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;
$lightPurple: #5a5164;

@mixin font{
  font-family:"Montserrat", sans-serif;
  color:white;
}

//Buttons =========================================================
.btn {
  @include font;
  border-radius: 30px;
  font-size:25px;
  padding: 8px;
  width: 70%;
  max-width: 250px;
}
  
.btn:hover{
  transform:scale(.99);
}

.signup-btn, .login-btn, .enter-btn, .back-btn {
  margin: 10px;
} 

.signup-btn {background-color: $red;}
.signup-btn:hover{background-color:#cc4d4d;}
  
.login-btn {background-color: $pink;}
.login-btn:hover{background-color:#a94ccc;}
  
.enter-btn {background-color: $yellow;}
.enter-btn:hover {background-color: #e5b24c;}

.back-btn {
  max-width:150px;
  background-color: $pink;
}
.back-btn:hover {background-color: #a94ccc;}