.btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 30px;
  font-size: 25px;
  margin: 10px;
  padding: 8px;
  width: 70%;
  max-width: 250px; }

.btn:hover {
  transform: scale(0.99); }

.signup-btn {
  background-color: #FF6161; }

.signup-btn:hover {
  background-color: #cc4d4d; }

.login-btn {
  background-color: #D45FFF; }

.login-btn:hover {
  background-color: #a94ccc; }

.enter-btn {
  background-color: #FFC655; }

.enter-btn:hover {
  background-color: #e5b24c; }

.back-btn {
  background-color: #44BBA4;
  max-width: 150px;
  margin: 15px; }

.back-btn:hover {
  background-color: #369583; }
