//Dependencies =========================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;

@mixin position{
  margin:auto;
  text-align: center;
}

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

//Loading Screen ===================================================
.loading-screen-holder {
  padding:20px;
}

.judge, #loading-pg-roomkey{
  padding: 10px 25px;
  border-radius: 20px;
  position: absolute;
  min-width:120px;
 }

.judge{
  top:20px;
  background-color: $grey;
}

#loading-pg-roomkey{
  top:75px;
  background-color: $red;
}

.logo-holder {
  padding:120px 0 30px 0;
}

.small-logo {
  width: 130px;
  height: 130px;
  margin:0 auto;
}

//Loading screen buttons ==============================================================

.judge-start, .show-gifs-btn, .next-round-btn{
  @include font;
  font-size:20px;
  padding:10px;
  border-radius: 40px;
  background: $pink;
  width: 155px;
  margin:10px auto;
}

.judge-start:hover, .show-gifs-btn:hover{
  cursor: pointer;
  background:#c533fb;
  transform: scale(.99);
}

.judge-start:focus, .judge-start:active, .show-gifs-btn:focus, .show-gifs-btn:active{
  background: $pink;
}

//Loading Screen Text =================================================================
#current-players, #no-players{
  @include font;
  font-size: 165%;
  padding:10px;
}

//User Icons =========================================================================
#username{
  @include font;
  font-size: 35px;
}

.current-players-div {
  width: 100%;
  text-align: center;
  padding:10px;
}

.player-bubble {
  display: inline-block;
  z-index: 100;
  margin:0 -12px;
}

.fa-stack {
  display: inline-block;
  height: 1.4em;
  line-height: 1.5em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

//Theme and Category Prompt ===========================================================
#loading-pg-prompt {
  margin-bottom:-100px;
}

//Loading Screen Timer ================================================================
#timer-icon {
  font-size:40px;
}

.loading-screen-timer {
  padding-left:10px;
  font-size:40px;
}
