//Dependencies =========================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;
$lightPurple: #5a5164;

@mixin position{
  margin:auto;
  text-align: center;
}

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

//Loading Screen ===================================================
.loading-screen-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

  .judge, #loading-pg-roomkey{
    padding: 10px 25px;
    border-radius: 20px;
    position: absolute;
    min-width:125px;
    left:20px;
  }

  .judge{
    top:10px;
  }

  .fa-gavel {
    padding-right: 5px;
  }

  #loading-pg-roomkey{
    top:65px;
    background-color: $red;
  }

  //Loading screen buttons ==============================================================
  .judge-start, .show-gifs-btn, .next-round-btn{
    @include font;
    font-size:17px;
    padding:10px;
    border-radius: 40px;
    background: $pink;
    width: 145px;
    margin:0 auto;
  }

  .judge-start:hover, .show-gifs-btn:hover, .next-round-btn:hover{
    cursor: pointer;
    background:#c533fb;
    transform: scale(.99);
  }

  .show-gifs-btn {
    margin-top:10%;
  }

  .pull-themes-btn {
    width:100%;
  }
  
  //Loading Screen Text =================================================================
  .waiting-msg {
    padding:10px 0;
    font-size:85%;
  }

  #current-players, #no-players{
    @include font;
    font-size: 185%;
  }

  //User Icons =========================================================================
  #username{
    @include font;
    font-size: 35px;
  }

  .current-players-div {
    width: 100%;
    text-align: center;
    padding:10px;
  }

  .player-bubble {
    display: inline-block;
    z-index: 100;
    margin:0 -12px;
  }

  .fa-stack {
    display: inline-block;
    height: 1.4em;
    line-height: 1.5em;
    position: relative;
    vertical-align: middle;
    width: 2em;
  }

//Loading Screen Timer ================================================================
#timer-icon {
  font-size:40px;
}

.loading-screen-timer {
  padding-left:10px;
  font-size:40px;
}
