.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: .25s;
  background: $grey;
  height: 40px;
  min-height: 0;
  overflow: scroll;

  .content-holder {
    width: 100%;
    position: relative;

    .user-initial {
      position: absolute;
      left: 15px;
      top: 4px;
      padding: 4px 9px 4px 9px;
      border-radius: 50%;
    }

    .userScore {
      position: absolute;
      left: 60px;
      top: 11px;
    }

    .home-button {
      position: absolute;
      right: 15px;
      top: 7px;
      color: grey;
      font-size: 25px;
      z-index: 1000;
    }
  }
}

.expanded {
  min-height: 25vh;
  height: 25vh;
}

.not-expanded {
  min-height: 0;
}

//Dependencies from main.scss ============================================
//Fonts ==================================================================
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

//Colors ===============================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;

//Mixins ===============================================================
@mixin position{
  margin:auto;
  text-align: center;
}

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

//Placeholders ===================================================
%buttons{
  @include font;
  border-radius: 30px;
  font-size:25px;
  position: relative;
  clear:both;
  display:inline-block;
  margin: 15px;
  padding: 8px;
  width:220px;
}

%round-buttons{
  border-radius: 50px;
  height: 100px;
  width:100px;
  margin:10px;
}

%text-entry{
  @include font;
  border-radius: 30px;
  border:none;
  background-color: lightgrey;
  color:grey;
  padding: 8px;
  font-size: 25px;
}