.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: .25s;
  background: #C0C0C0;
  height: 40px;
  min-height: 0;
  overflow: scroll; }
  .bottom-nav .content-holder {
    width: 100%;
    position: relative; }
    .bottom-nav .content-holder .user-initial {
      position: absolute;
      left: 15px;
      top: 4px;
      padding: 4px 9px 4px 9px;
      background: #FFC655;
      border-radius: 50%; }
    .bottom-nav .content-holder .userScore {
      position: absolute;
      left: 60px;
      top: 11px; }
    .bottom-nav .content-holder .home-button {
      position: absolute;
      right: 15px;
      top: 7px;
      color: grey;
      font-size: 25px;
      z-index: 1000; }

.expanded {
  min-height: 25vh;
  height: 25vh; }

.not-expanded {
  min-height: 0; }
