//Colors ===============================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: .25s;
  background: $grey;
  height: 40px;
  min-height: 0;
  overflow: scroll;

  .content-holder {
    width: 100%;
    position: relative;

    .user-initial {
      position: absolute;
      left: 15px;
      top: 4px;
      padding: 4px 9px 4px 9px;
      background: $yellow;
      border-radius: 50%;
    }

    .userScore {
      position: absolute;
      left: 60px;
      top: 11px;
    }

    .home-button {
      position: absolute;
      right: 15px;
      top: 7px;
      color: grey;
      font-size: 25px;
      z-index: 1000;
    }
  }
}

.expanded {
  min-height: 25vh;
  height: 25vh;
}

.not-expanded {
  min-height: 0;
}