.loading-screen-holder {
  min-height: 25px;
  width: 100%;
  padding: 15px;
  margin-top: 30px; }

.fa-stack {
  display: inline-block;
  height: 1.4em;
  line-height: 1.5em;
  position: relative;
  vertical-align: middle;
  width: 2em; }

#loading-pg-roomkey {
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-color: #FF6161;
  top: 10px;
  right: 15px;
  padding: 17px 25px 7px 25px;
  position: absolute; }
  #loading-pg-roomkey #random-word {
    font-size: 20px; }
  #loading-pg-roomkey #key-icon {
    transform: rotate(15deg);
    font-size: 20px; }

#theme-prompt {
  background-color: #FF6161;
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto 0px auto;
  width: 100%;
  max-width: 400px;
  display: block; }

#theme-prompt-theme {
  font-size: 21px;
  color: #cc4040; }

.judge {
  padding: 10px 25px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #C0C0C0; }

.judge-start {
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 10px 25px;
  border-radius: 40px;
  position: absolute;
  top: 65px;
  right: 15px;
  background: #D45FFF;
  font-size: 16px; }

.loading-gif {
  padding: 15px;
  max-width: 200px;
  margin: 25px auto; }

#current-players, #no-players {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 175%;
  margin: 5px 0px 20px 0px; }

#username {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 35px; }

.current-players-div {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  margin-top: -25px; }

.player-bubble {
  display: inline-block;
  z-index: 100;
  margin: 0px -10px 0px -10px; }
