#judge {
  margin: auto;
  margin-top: 25px;
  float: center;
  width: 200px;
  padding: 10px;
  border-radius: 40px; }

.loading-gif {
  width: 65%;
  padding: 15px;
  max-width: 350px;
  margin: 0 auto; }

#current-players {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 200%;
  margin-top: 20px; }

#username {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 35px; }

#user-icon {
  margin: auto;
  text-align: center; }
