@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
.signup-btn, .login-btn, .enter-btn {
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  width: 200px;
  font-size: 25px;
  float: left;
  clear: both;
  position: absolute;
  top: 50%;
  margin: 15px;
  padding: 8px; }

.color-btn {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin: 10px; }

.signup-btn:hover, .login-btn:hover, .enter-btn {
  background: grey; }

input[type="text"] {
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: lightgrey;
  color: grey;
  padding: 10px;
  border: none;
  font-size: 20px; }

body {
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: #31263E;
  color: white; }

.signup-btn {
  background: #FF8A5B;
  right: 50%; }

.login-btn, .enter-btn {
  background: #44BBA4;
  left: 50%; }

#key-icon {
  transform: rotate(45deg);
  font-size: 40px; }

.enter-key {
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

input[type="text"] {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  cursor: bold; }

input[type="text"]:focus {
  outline: none; }

#roomkey {
  background-color: #FF8A5B;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  width: 300px;
  margin-top: 50px;
  font-size: 14px;
  padding: 10px; }

#random-word {
  margin-top: -10px;
  font-size: 40px; }

p {
  margin: 0px; }

.giphy-component {
  padding: 15px; }
  .giphy-component .search-holder {
    width: 100%;
    max-width: 450px;
    margin: 0 auto; }
    .giphy-component .search-holder input[type="text"] {
      width: calc(100% - 65px); }
    .giphy-component .search-holder .search-button {
      width: 50px;
      height: 50px;
      background: #FF8A5B;
      display: inline-block;
      margin: 0px 0px 0px 15px;
      position: relative;
      top: 18px;
      border-radius: 50%; }
      .giphy-component .search-holder .search-button i {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px; }
    .giphy-component .search-holder img {
      width: 100%;
      margin-top: 15px;
      border-radius: 15px; }
    .giphy-component .search-holder .button-holder {
      width: 100%;
      text-align: right;
      padding-top: 20px; }
      .giphy-component .search-holder .button-holder .timer-placeholder {
        display: inline-block;
        width: calc(100% - 115px);
        text-align: left;
        font-size: 30px;
        position: relative;
        bottom: 12px; }
        .giphy-component .search-holder .button-holder .timer-placeholder i {
          padding-right: 10px; }
      .giphy-component .search-holder .button-holder .button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block; }
      .giphy-component .search-holder .button-holder .research {
        background: lightgray;
        position: relative; }
        .giphy-component .search-holder .button-holder .research i {
          color: darkgrey;
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 20px; }
      .giphy-component .search-holder .button-holder .confirm {
        background: #44BBA4;
        position: relative;
        margin-left: 10px; }
        .giphy-component .search-holder .button-holder .confirm i {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 20px; }

.promptSelect-component {
  padding: 15px; }
  .promptSelect-component .prompt-card {
    text-align: left;
    width: 80%;
    display: block;
    margin: 0 auto;
    background: #FF6161;
    padding: 15px 20px 10px 20px;
    border-radius: 15px; }
    .promptSelect-component .prompt-card i {
      padding-right: 15px; }

.enter-profile {
  font-size: 40px;
  margin-top: 2%; }

.enter-color {
  font-size: 20px;
  margin: 50px 0px 15px 0px; }

.color-btn:hover {
  margin-bottom: -10px; }

#yellow-prof {
  background-color: #FFC655; }

#blue-prof {
  background-color: #5FACFF; }

#red-prof {
  background-color: #FF6161; }

#pink-prof {
  background-color: #D45FFF; }

#green-prof {
  background-color: #44BBA4; }

#orange-prof {
  background-color: #FF8A5B; }

#purple-prof {
  background-color: #9964FF; }

#charcoal-prof {
  background-color: #444444; }
