//Font ===========================================================
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

// Colors =========================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: grey; //Mike, what color grey did you use/want?

//Mixins =========================================================
@mixin position{
  margin:auto;
  text-align: center;
}

@mixin border-radius($radius){
  border-radius: $radius;
}

@mixin font{
  font-family: "Montserrat", sans-serif;
}

//Placeholders ===================================================
%buttons{
  @include border-radius(30px);
  @include font;
  width:145px;
  font-size:15px;
  float:left;
  clear:both;
  position: relative;
  top: 50%;
  margin: 15px;
  padding: 8px;
}

%hover{
  background:$grey;
}

%text-entry{
  @include border-radius(30px);
  @include font;
  background-color: lightgrey;
  color:grey;
  padding: 10px;
  border:none;
  font-size: 20px;
}
//Body ===========================================================
body {
  @include position;
  @include font;
  background: $background;
  color:white;
}

//Buttons =========================================================
.signup-btn{
  @extend %buttons;
  background:$orange;
  right:50%;
}

.login-btn, .enter-btn{
  @extend %buttons;
  background: $green;
  left:50%;
}

.signup-btn:hover, .login-btn:hover, .enter-btn{
  @extend %hover;
}

//Room Key ======================================================
.enter-key{
  @include font;
  font-size: 40px;
}

input[type="text"]{
  @extend %text-entry;
  @include position;
  margin-top:20px;
  cursor: bold;
}

input[type="text"]:focus{
  outline:none;
}

#roomkey{
 background-color: $orange;
 @include border-radius(22px);
 @include position;
 width:400px;
 margin-top:50px;
 font-size:14px;
 padding:5px;
}

#random-word{
  margin-top:-10px;
  font-size: 40px;
}

p{
  margin:0px;
}