@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.signup-btn, .login-btn, .enter-btn {
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  width: 145px;
  font-size: 15px;
  float: left;
  clear: both;
  position: relative;
  top: 50%;
  margin: 15px;
  padding: 8px; }

.signup-btn:hover, .login-btn:hover, .enter-btn {
  background: grey; }

input[type="text"] {
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: lightgrey;
  color: grey;
  padding: 10px;
  border: none;
  font-size: 20px; }

body {
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: #31263E;
  color: white; }

.signup-btn {
  background: #FF8A5B;
  right: 50%; }

.login-btn, .enter-btn {
  background: #44BBA4;
  left: 50%; }

.enter-key {
  font-family: "Montserrat", sans-serif;
  font-size: 40px; }

input[type="text"] {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  cursor: bold; }

input[type="text"]:focus {
  outline: none; }

#roomkey {
  background-color: #FF8A5B;
  border-radius: 22px;
  margin: auto;
  text-align: center;
  width: 400px;
  margin-top: 50px;
  font-size: 14px;
  padding: 5px; }

#random-word {
  margin-top: -10px;
  font-size: 40px; }

p {
  margin: 0px; }
