.join-btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 30px;
  font-size: 25px;
  position: relative;
  clear: both;
  display: inline-block;
  margin: 15px;
  padding: 8px;
  width: 220px; }

.color-btn {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin: 10px; }

.enter-profile {
  font-size: 40px;
  margin-top: 2%; }

.enter-color {
  font-size: 20px;
  margin: 50px 0px 15px 0px; }

.color-btn:hover {
  box-shadow: 0 0 10px grey; }

.yellow-prof {
  background-color: #FFC655; }

.blue-prof {
  background-color: #5FACFF; }

.red-prof {
  background-color: #FF6161; }

.pink-prof {
  background-color: #D45FFF; }

.green-prof {
  background-color: #44BBA4; }

.orange-prof {
  background-color: #FF8A5B; }

.purple-prof {
  background-color: #9964FF; }

.charcoal-prof {
  background-color: #444444; }

.join-btn {
  width: 180px;
  background-color: hotpink; }
