.promptSelect-component {
  padding: 15px; }
  .promptSelect-component h4, .promptSelect-component h5 {
    font-family: "Montserrat", sans-serif;
    color: white; }
  .promptSelect-component h4 {
    text-transform: uppercase;
    margin-bottom: 25px; }
  .promptSelect-component .prompt-card {
    text-align: left;
    width: 95%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 15px 10px;
    border-radius: 15px; }
    .promptSelect-component .prompt-card i {
      padding-right: 15px; }
