//Colors ===============================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;

@mixin font{
  font-family: "Montserrat", sans-serif;
  color:white;
}

.promptSelect-component {
  padding: 15px;

  h4, h5{
    @include font;
  }

  h4{
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .prompt-card {
    text-align: left;
    width: 95%;
    display: block;
    margin: 0 auto;
    background: $red;
    padding: 15px 20px 10px 20px;
    border-radius: 15px;

    i {
      padding-right: 15px;
    }
  }
}