@media only screen and (min-width: 650px) {
  .mini-logo-holder {
    padding: 30px 0; }
  .mini-logo {
    width: 230px;
    height: 230px;
    margin: 0 auto; }
  .theme-and-category {
    max-width: 450px;
    min-width: 450px; }
  .gif-reveal-component .pick-winner-instruction {
    font-size: 50px; }
  .gif-reveal-component .gif-reveal-div .gif-component .gif-preview:hover {
    cursor: pointer;
    background: #4a3b5c;
    transition: .25s; }
  .prompt-select-pg .judge-instructions {
    font-size: 30px; }
  .profile-pg-component {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center; }
    .profile-pg-component .setup-profile {
      font-size: 30px; }
    .profile-pg-component #enter-name {
      max-width: 300px; }
    .profile-pg-component .setup-color-buttondiv {
      padding: 10px 0 20px 0;
      max-width: 700px; }
      .profile-pg-component .setup-color-buttondiv .pick-a-color {
        font-size: 20px; }
      .profile-pg-component .setup-color-buttondiv .pick-a-color:before, .profile-pg-component .setup-color-buttondiv .pick-a-color:after {
        display: none; } }
