@media only screen and (min-width: 650px) {
  .mini-logo-holder {
    padding: 30px 0; }
  .mini-logo {
    width: 230px;
    height: 230px;
    margin: 0 auto; }
  .profile-pg-component {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center; }
    .profile-pg-component .setup-profile {
      font-size: 30px; }
    .profile-pg-component #enter-name {
      max-width: 300px; }
    .profile-pg-component .setup-color-buttondiv {
      padding: 10px 0 20px 0;
      max-width: 700px; }
      .profile-pg-component .setup-color-buttondiv .pick-a-color {
        font-size: 20px; }
      .profile-pg-component .setup-color-buttondiv .pick-a-color:before, .profile-pg-component .setup-color-buttondiv .pick-a-color:after {
        display: none; } }
