//Desktop & iPad ========================================================
@media only screen and (min-width: 650px) {

  .mini-logo-holder {
    padding:30px 0;
  }

  .mini-logo {
    width: 230px;
    height: 230px;
    margin:0 auto;
  }

  // //GIF Reveal Page
  // .gif-reveal-component {
  //   .pick-winner-instruction {
  //     font-size: 50px;
  //   }

  //   #gif-reveal-prompt, #winner-pg-prompt{
  //     min-width:450px;
  //   }

  //   .gif-reveal-div {
  //     margin:0px auto;
  //     padding:10px;
  //     max-width: 700px;
  //     width:100%;
  //     border-radius: 10px;
      
  //     .gif-component{
  //       .gif-preview{
  //         border-radius:25px;
  //         padding: 10px;
  //       }
        
  //       .gif-preview:hover{
  //         cursor: pointer;
  //         transition: .25s;
  //       }
  //     }
  //   }
  // } 

  //Profile Page
  .profile-pg-component{
    display: flex;
    flex-direction: column;
    height:95vh;
    justify-content: center;

    .setup-profile{
      font-size:30px;
    }

    #enter-name {
      max-width:300px;
    }
  
    .setup-color-buttondiv {
      padding:10px 0 20px 0;
      max-width: 700px;

      .pick-a-color {
        font-size:20px;
      }
      .pick-a-color:before, .pick-a-color:after {
        display: none;
      }

      %round-buttons{
        height: 100px;
        width:100px;
        margin:10px;
      }
    }
  }
}
