//Desktop & iPad ========================================================
@media only screen and (min-width: 650px) {
  .mini-logo-holder {
    padding:30px 0;
  }

  .mini-logo {
    width: 230px;
    height: 230px;
    margin:0 auto;
  }
}

//Desktop Only ============================================================
@media only screen and (min-width: 1080px) {

  .profile-pg-component{

    .setup-profile{
      font-size:30px;
    }

    #enter-name {
      max-width:300px;
    }
  
    .setup-color-buttondiv {
      padding:40px 0 80px 0;
      max-width: 1080px;

      .pick-a-color {
        font-size:20px;
      }
      .pick-a-color:before, .pick-a-color:after {
        display: none;
      }

      %round-buttons{
        height: 100px;
        width:100px;
        margin:10px;
      }
    }
  }
}

//iPad Only ==================================================================
@media only screen and (min-width: 650px) and (max-width:1079px) {
  .profile-pg-component{
    padding-top:50px;

    .setup-color-buttondiv {
      padding:40px 0;
      max-width: 450px;

      .pick-a-color:before, .pick-a-color:after {
        width:27%;
      }

      %round-buttons{
        height: 120px;
        width:120px;
        margin:10px
      }
    }
  }
}

