//Dependencies =================================================
$background: #31263E;
$green: #44BBA4;
$orange: #FF8A5B;
$grey: #C0C0C0;
$yellow: #FFC655;
$blue: #5FACFF;
$red: #FF6161;
$pink: #D45FFF;
$purple: #9964FF;
$charcoal: #444444;
$lightPurple: #5a5164;

//Bottom Nav ===================================================
.bottom-nav {
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  transition: .5s;
  background: $lightPurple;
  height: 40px;
  min-height: 0;
  z-index: 1000;
  cursor: pointer;

  .content-holder {
    width: 100%;
    position: relative;

    .home-button {
      position: absolute;
      right: 12px;
      top: 8px;
      color: $grey;
      font-size: 25px;
      z-index: 1000;
    }
  }
}

.expanded {
  min-height: 50vh;
  overflow: scroll;
  box-shadow: 0 -1px 5px $charcoal;
}

.not-expanded {
  min-height: 0;
}