.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: .5s;
  background: #5a5164;
  height: 40px;
  min-height: 0;
  z-index: 1000;
  cursor: pointer; }
  .bottom-nav .content-holder {
    width: 100%;
    position: relative; }
    .bottom-nav .content-holder .home-button {
      position: absolute;
      right: 12px;
      top: 8px;
      color: #C0C0C0;
      font-size: 25px;
      z-index: 1000; }

.expanded {
  min-height: 50vh;
  overflow: scroll;
  box-shadow: 0 -1px 5px #444444; }

.not-expanded {
  min-height: 0; }
