//Gif Reveal Page ====================================================
.gif-reveal-component{
  padding:10px;

  .pick-winner-instruction {
    font-size: 30px;
    width:100%;
    letter-spacing: 1px;
    color:white;
    padding-bottom:10px;
  }

  .gif-reveal-div {
    margin:0px auto;
    padding:10px;
    max-width: 400px;
    width:100%;
    border-radius: 10px;
    
    .gif-component{
        .gif-preview{
          border-radius:25px;
          padding: 10px;
       }
       .gif-preview:hover{
         cursor: pointer;
         background: #4a3b5c;
         transition: .25s;
       }
    }
  }
}